body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

h1 {
    text-align: center;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.terms {
    font-size: 14px;
}

:root {
    --main-color:#d90429;
    --text-color:#020102;
    --bg-color:#fff;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    color: var(--text-color);
    display: none;
}
.logo {
    font-size: 2rem;
    font-weight: 700;
    color: var(--text-color);
    text-decoration: none;
}

.logo span {
    color: var(--main-color);
}




