<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/assets/css/Cliente.css">
    <title>Registrar Administrador</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/usuario/login" class="logo">Luji<span>car's</span></a>

            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
        <div>
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul>
                    {% for message in messages %}
                    <li style="color: red; background-color: rgb(192, 255, 175); padding: 3%; text-align: center;">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
            {% endwith %}
        </div>
    </header>
<br>
<br>
<br>
<br>
<br>
<br>

<!--Contactenos container-->
<section class="formulario" id="formulario">
<form method="POST" action="{{ url_for('usuario_blueprint.registroAdmin') }}">
    <h2>Registrar Administrador</h2>
    <br>
    <div class="input-group">
        
        <label>Nombre Administrador</label>
        <input type="text" name="nombreUsuario" placeholder="" required>

       
        <label>Correo Administrador</label>
        <input type="email" name="correoUsuario" placeholder="" required>

        <label>Contraseña</label>
        <input type="password" name="contrasenaUsuario" placeholder="" required>

        <br>
        <br>

        <input class="btn1" type="submit" value="Registrarse">
        <div class="form-txt">
            <a href="/usuario/login">Volver al login</a>
        </div>
    </div>
</form>
</section>
<br>
<br>
<br>
    <!--Footer-->
    <section class="footer">
        <div class="footer-container container">
            <div class="footer-box social">
                <a href="/index" class="logo">Luji<span>car's</span></a>
                 <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>
        </div>
    </section>
    <!--Copyright-->
    <div class="copyright">
        <p>&#169; Lujicar's <span id="current-year">2023</span></p>
    </div>
    <!--Link deL JS-->
    <script>
        // Obtén el elemento del año actual del copyright
        var yearElement = document.getElementById('current-year');
    
        // Obtiene el año actual
        var currentYear = new Date().getFullYear();
    
        // Actualiza el contenido del elemento con el año actual
        yearElement.textContent = currentYear;
    </script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>