<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lujicar's - Espejos</title>
    <link rel="stylesheet" href="../static/assets/css/producto1.css">
    <!--Iconos de la caja-->
    <link href='producto1.css' rel='stylesheet'>
    <!--Iconos de la caja-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/productos" class="logo">Luji<span>car's</span></a> 
            
            <!--Box-->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Busque Aqui su producto..">
            </div>
        </div>
    </header>
    <section>
        <div class="contenedor">
            <!-- Producto 1 -->
            <div class="producto">
                <img src="../static/assets/img/86457.jpg" alt="Producto 1">
                <h2>Espejo retrovisor</h2>
                <p>Gran angular para reducir el punto ciego de manera efectiva</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 2 -->
            <div class="producto">
                <img src="../static/assets/img/6191732tKML._AC_SX466_PIbundle-2,TopRight,0,0_SH20_.jpg" alt="Producto 2">
                <h2>Espejos de punto ciego</h2>
                <p>espejo auxiliar universal de gran angular ajustable para automóviles universales</p>
                <span class="precio">$170.000</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 3 -->
            <div class="producto">
                <img src="../static/assets/img/2.0.jpg" alt="Producto 3">
                <h2>Espejo retrovisor</h2>
                <p>spejo retrovisor curvado de 15 pulgadas, espejo retrovisor curvado de gran angular</p>
                <span class="precio">$29.99</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>

            <!-- Producto 4 --> 
            <div class="producto">
                <img src="../static/assets/img/51WO7SarpDL._AC_SX466_.jpg" alt="Producto 4">
                <h2>Espejo auxiliar</h2>
                <p>retrovisor lateral de vidrio doble, retrovisor, retrovisor, derecho, para la mayoría de automóviles</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 5 -->
            <div class="producto">
                <img src="../static/assets/img/maquillaje.jpg" alt="Producto 5">
                <h2>Espejo De Maquillaje</h2>
                <p>Espejo De Maquillaje Para Coche Con Luz Led Para Visera</p>
                <span class="precio">$170.000</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 6 -->
            <div class="producto">
                <img src="../static/assets/img/D_NQ_NP_2X_733691-CBT51563385003_092022-F.webp" alt="Producto 6">
                <h2>Sistema de frenos</h2>
                <p>Descripción del producto 3.</p>
                <span class="precio">$29.99</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>

            <!-- Producto 7 -->
            <div class="producto">
                <img src="../static/assets/img/D_NQ_NP_2X_872413-MLM69395464669_052023-F.webp" alt="Producto 7">
                <h2>Espejos Concavos</h2>
                <p>Par Espejos Concavos Punto Ciegos 2 Pulgadas Bisel Cromado</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 8 -->
            <div class="producto">
                <img src="../static/assets/img/montacargas.webp" alt="Producto 8">
                <h2>Espejo Lateral</h2>
                <p>Espejo Lateral Fijo Nissan Urvan 2002 2013</p>
                <span class="precio">$170.000</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 9 -->
            <div class="producto">
                <img src="../static/assets/img/jjj.webp" alt="Producto 9">
                <h2>Retrovisor Auxiliar</h2>
                <p>2 Pack Retrovisor Auxiliar Luna Coche De Punto Ciego</p>
                <span class="precio">$29.99</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>

            <!-- Producto 10 -->
            <div class="producto">
                <img src="../static/assets/img/espejo.webp" alt="Producto 10">
                <h2>Par Espejos</h2>
                <p>Par Espejos Tsuru 3 Iii Cromados - Manuales</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
        </div>
    </section>

    <!--Footer-->
    <section class="footer">
        <div class="footer-container container-1">
            <div class="footer-box social">
                <a href="/index" class="logo">Luji<span>car's</span></a>
                 <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>
        </div>
    </section>
    <!--Copyright-->
    <div class="copyright">
        <p>&#169; Lujicar's <span id="current-year">2023</span></p>
    </div>
    <!--Link deL JS-->
    <script>
        // Obtén el elemento del año actual del copyright
        var yearElement = document.getElementById('current-year');
    
        // Obtiene el año actual
        var currentYear = new Date().getFullYear();
    
        // Actualiza el contenido del elemento con el año actual
        yearElement.textContent = currentYear;
    </script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>