<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lujicar's - Farolas</title>
    <link rel="stylesheet" href="../static/assets/css/producto1.css">
        <!--Iconos de la caja-->
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/productos" class="logo">Luji<span>car's</span></a>
           
            <!--Box-->
            <div class="search-box container">
                <input type="search" name="" id="" placeholder="Busque Aqui su producto..">
            </div>
        </div>
    </header>
    <section>
        <div class="contenedor">
            <!-- Producto 1 -->
            <div class="producto">
                <img src="../static/assets/img/luz1.webp" alt="Producto 1">
                <h2>Farol Chev Aveo </h2>
                <p>Farol Chev Aveo 18 Fondo Cromado Lh Optimo</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 2 -->
            <div class="producto">
                <img src="../static/assets/img/luz2.webp" alt="Producto 2">
                <h2>Calavera Aveo</h2>
                <p>Calavera Aveo 18 19 2018 2019 Piloto Izquierda Opt</p>
                <span class="precio">$170.000</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 3 -->
            <div class="producto">
                <img src="../static/assets/img/luz3.webp" alt="Producto 3">
                <h2>Farol Chev Gmc </h2>
                <p>Farol Chev Gmc Sierra 14 15 S/luz De Dia Lh Rdc</p>
                <span class="precio">$29.99</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>

            <!-- Producto 4 -->
            <div class="producto">
                <img src="../static/assets/img/luz4.webp" alt="Producto 4">
                <h2>Barra Led Flexible </h2>
                <p>Barra Led Flexible Farol Dr Luz Diurna Neon 12 V</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 5 -->
            <div class="producto">
                <img src="../static/assets/img/luz5.webp" alt="Producto 5">
                <h2>Luz Led De Marcador</h2>
                <p>10pcs Lateral Luz Led Luz De Marcador 12v Indicadora Ámbar </p>
                <span class="precio">$170.000</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 6 -->
            <div class="producto">
                <img src="../static/assets/img/luz6.webp" alt="Producto 6">
                <h2>Faros Ojo Ángel</h2>
                <p>Par Faros Ojo Ángel Led Jeep Jk Wrangler 7 Tj Cj5 Cj7</p>
                <span class="precio">$29.99</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>

            <!-- Producto 7 -->
            <div class="producto">
                <img src="../static/assets/img/luz7.webp" alt="Producto 7">
                <h2>Foco C/luz Led Rh</h2>
                <p>Farol Vw Jetta Bicentenario 15 16 17 18 1 Foco C/luz Led Rh</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 8 -->
            <div class="producto">
                <img src="../static/assets/img/luz8.webp" alt="Producto 8">
                <h2>Luces Espejos</h2>
                <p>Faro Delanteros Led Osun </p>
                <span class="precio">$170.000</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
            
            <!-- Producto 9 -->
            <div class="producto">
                <img src="../static/assets/img/luz9.webp" alt="Producto 9">
                <h2>Luz Interna</h2>
                <p>2x 12-24v 108 Led Luz Interna For Camping Barco R</p>
                <span class="precio">$29.99</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>

            <!-- Producto 10 -->
            <div class="producto">
                <img src="../static/assets/img/luz10.webp" alt="Producto 10">
                <h2>Tira De Luces Led </h2>
                <p>herramientas variadas, desde llaves y destornilladores</p>
                <span class="precio">$69.900</span>
                <button class="boton-comprar">AGREGAR AL CARRITO</button>
            </div>
        </div>
    </section>
    
    <!--Footer-->
    <section class="footer">
        <div class="footer-container container-1">
            <div class="footer-box social">
                <a href="/index" class="logo">Luji<span>car's</span></a>
                 <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>
        </div>
    </section>
    <!--Copyright-->
    <div class="copyright">
        <p>&#169; Lujicar's <span id="current-year">2023</span></p>
    </div>
    <!--Link deL JS-->
    <script>
        // Obtén el elemento del año actual del copyright
        var yearElement = document.getElementById('current-year');
    
        // Obtiene el año actual
        var currentYear = new Date().getFullYear();
    
        // Actualiza el contenido del elemento con el año actual
        yearElement.textContent = currentYear;
    </script>
    <script src="../static/assets/js/main.js"></script>
</body>
</html>