<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menú Cliente</title>
    <link rel="stylesheet" href="../static/assets/css/menuCliente.css">
    <!--Iconos de la caja-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav-1 container-1">
            <!--Menú Icon-->
            <i class='bx-1 bx-menu' id="menu-icon-1"></i>
            <!--Logo-->
            <a href="/index" class="logo-1">Luji<span>car's</span></a>
            <!--Nav List-->
            <ul class="navbar-1">
                <li><a href="/menuCliente" class="active">Inicio</a></li>
                
                <li class="menu-vertical-1">
                        <li><a href="/usuario/dashboard">Página Inicio</a></li>
                </li>
            </ul>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>



    <form action="/usuario/actualizarUsuario/{{ usuario.codigoUsuario }}" method="POST">
    <section class="container">
        <div class="container__cards">
            <div class="card">
                <div class="cover__card">
                    <img src="../../../static/assets/img/78-786293_1240-x-1240-0-avatar-profile-icon-png.png" alt="">
                </div>
                <h2>TU PERFIL</h2>
                <hr>
                <div class="footer__card">
                    <label for="codigoActualizar">ID</label>
                    <input type="number" name="codigoActualizar" id="codigoActualizar" value="{{ usuario.codigoUsuario }}" placeholder="" required readonly>
                    <label for="nombreActualizar">NOMBRE</label>
                    <input type="text" name="nombreActualizar" id="nombreActualizar" value="{{ usuario.nombreUsuario }}" placeholder="" required autofocus>
                    <label for="correoActualizar">CORREO</label>
                    <input type="email" name="correoActualizar" id="correoActualizar" value="{{ usuario.correoUsuario }}" placeholder="" required autofocus>
                    <button class="btn1">EDITAR</button>
                </div>
            </div>
        </div>
    </section>
</form>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <!--Footer-->
    <section class="footer">
        <div class="footer-container container-1">
            <div class="footer-box social">
                <a href="/index" class="logo">Luji<span>car's</span></a>
                 <a href="https://www.instagram.com/tienda_automotriz/?igshid=MzRlODBiNWFlZA%3D%3D"><i class='bx bxl-instagram'></i></a>
            </div>
            <div class="footer-box">
                <h3>Página</h3>
                <a href="/">Inicio</a>
                <a href="/productos">Productos</a>
                <a href="/nosotros">Nosotros</a>
                <a href="/contactenos">Contáctenos</a>
            </div>
            <div class="footer-box">
                <h3>Legal</h3>
                <a href="#">Privacidad</a>
                <a href="#">Cookies Política</a>
            </div>
        </div>
    </section>
    <!--Copyright-->
    <div class="copyright">
        <p>&#169; Lujicar's <span id="current-year">2023</span></p>
    </div>
    <!--Link deL JS-->
    <script>
        // Obtén el elemento del año actual del copyright
        var yearElement = document.getElementById('current-year');
    
        // Obtiene el año actual
        var currentYear = new Date().getFullYear();
    
        // Actualiza el contenido del elemento con el año actual
        yearElement.textContent = currentYear;
    </script>
    <script src="../static/assets/js/main.js"></script>

    
</body>

</html>