<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lujicar's</title>
    <link rel="stylesheet" href="../static/assets/css/politicas_de_privacidad.css">
    <link rel="stylesheet" href="../static/assets/css/Cliente.css">
    <!--Iconos de la caja-->
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/contactenos" class="logo">Luji<span>car's</span></a>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>
    <section>

        <div class="privacy-policy">
            <center>
                <h2>Política de Privacidad</h2>
            </center>
            <p>Última actualización: 23/10/2023<br>
                En LujiCars, consideramos que la privacidad de nuestros usuarios es de la máxima importancia.</p>
            <h3>Información que Recopilamos</h3>
            <p>Podemos recopilar información personal de diversas maneras, incluyendo, pero sin limitarse a, cuando
                usted se registra en nuestros Servicios, realiza una compra, completa un formulario, participa en
                encuestas o concursos, se comunica con nosotros o interactúa de alguna otra manera con los Servicios. La
                información que podemos recopilar incluye, entre otros:</p>
            <div class="privacy-policy1">
                <ul>
                    <li> -Nombre y apellidos</li>
                    <li> -Dirección de correo electrónico</li>
                </ul>
            </div>
<br>
            <p><h3>Uso de la Información</h3>
                Utilizamos la información personal recopilada para los siguientes fines:<br>
            <div class="privacy-policy1">
                
                    <li>  -Para proporcionar y mejorar nuestros Servicios</li>
                    <li>  -Para enviarle comunicaciones relacionadas con los Servicios</li>
                    <li>  -Para responder a sus preguntas, comentarios o solicitudes</li>
                    <li>  -Para personalizar su experiencia en nuestros Servicios</li>
                    <li>  -Para fines de marketing y publicidad, en caso de que haya otorgado su consentimiento</li>
            </p>
            </div>
<br>
            <h3>Divulgación de la Información</h3>

            <p>No compartiremos su información personal con terceros, excepto en las siguientes circunstancias:
            <div class="privacy-policy1">
                    <li> -Con proveedores de servicios que nos ayudan a operar y mejorar nuestros Servicios.</li>       
                    <li> -Con autoridades gubernamentales en respuesta a una orden judicial o solicitud legal.</li>        
                    <li> -En caso de una fusión, adquisición o venta de activos, en cuyo caso su información podría ser transferida a la entidad adquirente.</li>        
        
            </p>
            </div>
<br>
            <p><h3>Uso de la Información</h3>
                Utilizamos la información personal recopilada para los siguientes fines:<br>
            <div class="privacy-policy1">
                
                    <li>  -Para proporcionar y mejorar nuestros Servicios</li>
                    <li>  -Para enviarle comunicaciones relacionadas con los Servicios</li>
                    <li>  -Para responder a sus preguntas, comentarios o solicitudes</li>
                    <li>  -Para personalizar su experiencia en nuestros Servicios</li>
                    <li>  -Para fines de marketing y publicidad, en caso de que haya otorgado su consentimiento</li>
            </p>
            </div>
<br>
            <h3>seguridad de la informacion </h3>

            <p>Tomamos medidas razonables para proteger la información personal de nuestros usuarios. 
                Sin embargo, ninguna transmisión de datos por internet o sistema de 
                almacenamiento es 100% seguro, y no podemos garantizar la seguridad absoluta de la información
            </p>
<br>
            <h3>Cambios en la Política de Privacidad</h3>
            <p>Podemos actualizar esta política de privacidad en cualquier momento. 
                Le recomendamos que revise esta política periódicamente para estar 
                al tanto de cualquier cambio.
            </p>
<br>
            <h3>Contacto</h3>
            <p>Si tiene alguna pregunta o inquietud sobre nuestra política de privacidad, no dude en ponerse en contacto con nosotros a través de [correo electrónico de contacto] o a la dirección postal [dirección postal].<br>
                Al utilizar nuestros Servicios, usted acepta esta política de privacidad. Si no está de
                acuerdo con esta política, le recomendamos que no utilice nuestros Servicios.</p>
        </div>
        </div>
<br>
    </section>


    <script src="../static/assets/js/main.js"></script>
</body>

</html>