<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Términos y Condiciones</title>
    <link rel="stylesheet" href="../static/assets/css/terminosCondiciones.css">

</head>
<body>
    <!--Navbar-->
    <header>
        <!--Nav Container-->
        <div class="nav container">
            <!--Menú Icon-->
            <i class='bx bx-menu' id="menu-icon"></i>
            <!--Logo-->
            <a href="/contactenos" class="logo">Luji<span>car's</span></a>
            <!--Buscador-->
            <i id="search-icon"></i>
        </div>
    </header>
    <div class="container">
        <h1>Términos y Condiciones</h1>
        <div class="terms">
            <p><strong>Términos y Condiciones de Uso</strong></p>
            <p>Por favor, lea atentamente estos términos y condiciones antes de utilizar nuestros servicios:</p>

            <p><strong>1. Aceptación de Términos</strong></p>
            <p>Al acceder y utilizar nuestros servicios, usted acepta cumplir con estos términos y condiciones en su totalidad.</p>

            <p><strong>2. Uso de Servicios</strong></p>
            <p>En esta sección, se detallan las reglas y restricciones que los usuarios deben seguir al utilizar nuestro sitio. Esto puede incluir pautas sobre comportamiento, publicación de contenido y otros aspectos relacionados con la interacción en la plataforma.</p>

            <p><strong>3. Privacidad</strong></p>
            <p> Nuestra política de privacidad explica cómo manejamos la información personal del usuario, cómo se recopila, se almacena y se protege. También se describen los derechos del usuario en relación con sus datos personales. Consulte nuestra política de privacidad para obtener más información.</p>

            <p><strong>4. Propiedad Intelectual</strong></p>
            <p>Los derechos de autor y la propiedad intelectual se refieren a quién es dueño de los contenidos del sitio. Esto puede incluir textos, imágenes, videos y otros materiales. Indicamos que estos elementos están protegidos y no pueden utilizarse sin permiso.</p>

            <p><strong>5. Limitación de Responsabilidad</strong></p>
            <p>No somos responsables de los daños o pérdidas resultantes del uso de nuestros servicios.</p>

            <p><strong>6. Registro y Cuentas de usuario</strong></p>
            <p>Si es necesario registrarse para usar ciertas partes del sitio, esta sección describe cómo se realiza el registro, qué información se debe proporcionar y cómo se administra una cuenta de usuario.</p>

            <p><strong>7. Garantías y Limitaciones de Responsabilidad</strong></p>
            <p>Esta sección describe cualquier garantía ofrecida (si las hay) y las limitaciones de responsabilidad en caso de problemas o daños que puedan surgir del uso de los servicios.</p>

            <p><strong>8. Cambios en los Términos y Condiciones</strong></p>
            <p> Explicamos cómo notificaremos a los usuarios sobre cambios en los términos y cómo se aplicarán esos cambios.</p>

            <p><strong>9. Cancelación de Cuentas</strong></p>
            <p> Explicamos cómo notificaremos a los usuarios sobre cambios en los términos y cómo se aplicarán esos cambios.</p>

            <p><strong>10. Información de Contacto</strong></p>
            <p> Proporcionamos información de contacto para consultas y asistencia, lo que facilita la comunicación con nosotros en caso de dudas o problemas.</p>
        </div>
    </div>
</body>
</html>
